# Copy this file to .env
# API keys for all engines
YANDEX_API_KEY = "YOUR_API_KEY_FROM_YANDEX"
GOOGLE_API_KEY = "YOUR_API_KEY_FROM_GOOGLE_CONSOLE"
BING_API_KEY = "YOUR_API_KEY_FROM_AZURE_COGNITIVE_SUBSCR"

# Bing require api version
BING_API_V = "3.0"