aiohttp==3.5.4

# NOTE: do not hardcode pytest-* package versions, it's unnecessary
pytest
# pytest-aiohttp  # fuck this
pytest-asyncio
pytest-cov
pytest-mock

environs==4.1.0

flake8
isort

bumpversion
